body {
  $main-color: black;
  background-color: aliceblue;

  p {
    color: $main-color;
  }

  .placeholder {
    height: 10vh;
  }

  .times {
    font-family: Times;
  }

  .verdana {
    font-family: verdana;
  }

  .tahoma {
    font-family: tahoma;
  }

  .welcome {
    font-size: 30px;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    position: relative;
    left: -15px;
    top: -15px;
  }

  .box {
    border: 2px solid cyan;
  }

  .grey {
    color: lightslategrey;
    padding-top: 4px;
    padding-left: 1vh;
  }

  .img-circle {
    border-radius: 50%;
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  .info {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .message-text {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .equalizer {
    height: 10px;
  }
}
